<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown</title>
    <link rel="stylesheet" href="./dropdown.css">
</head>
<body>
    <!-- <div class="kjx-dropdown">
        <div href="###" class="kjx-dropdown-toggle">
            <i class="kjx-dropdown-arrow"></i></div>
            <ul class="kjx-dropdown-layer kjx-dropdown-left">
            </ul> 
    </div> -->

    <div class="kjx-dropdown menu" data-dropdown-type="menu">
            <a href="###" class="kjx-dropdown-toggle">
                我的足迹
                <i class="kjx-dropdown-arrow"></i></a>
                <ul class="kjx-dropdown-layer kjx-dropdown-left">
                    <li><a href="###" class="menu-item">已买到的宝贝</a></li>
                    <li><a href="###" class="menu-item">我的足迹</a></li>
                </ul> 
        </div>
    
        <div class="kjx-dropdown menu" data-dropdown-type="menu">
            <a href="###" class="kjx-dropdown-toggle">
                我的足迹
                <i class="kjx-dropdown-arrow"></i></a>
                <ul class="kjx-dropdown-layer kjx-dropdown-left">
                    <li><a href="###" class="menu-item">已买到的宝贝</a></li>
                    <li><a href="###" class="menu-item">我的足迹</a></li>
                </ul> 
        </div>
</body>
<script src="./dropdown.js"></script>
</html>