@charset "UTF-8";
/*css reset*/
/*清除内外边距*/
body, h1, h2, h3, h4, h5, h6, p, hr,
ul, ol, li, dl, dt, dd,
form, fieldset, legend, input, button, select, textarea,
th, td,
pre {
  padding: 0;
  margin: 0;
}

/*重置默认样式*/
body, button, input, select, textarea {
  /*font: 12px/1 微软雅黑, Tahoma, Helvetica, Arial, 宋体, sans-serif;*/
  color: #333;
  font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, SimSun, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

em, i {
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  vertical-align: top;
}

img {
  border: none;
  /*display: block;*/
  vertical-align: top;
}

textarea {
  overflow: auto;
  resize: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/*常用公共样式*/
.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

a {
  color: #4d555d;
}

a:hover {
  color: #f01414;
}

/* 解决li横艾之间有空白间隙的问题 */
ul {
  letter-spacing: -10px;
}

ul li {
  letter-spacing: normal;
}

/*icon*/
@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont.eot?t=1565168052702);
  /* IE9 */
  src: url(../font/iconfont.eot?t=1565168052702#iefix) format("embedded-opentype"), url(../font/iconfont.woff?t=1565168052702) format("woff"), url(../font/iconfont.ttf?t=1565168052702) format("truetype"), url(../font/iconfont.svg?t=1565168052702#iconfont) format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont5:before {
  content: "\e63a";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-gouwuchetianjia:before {
  content: "\e640";
}

.icon-cuowu:before {
  content: "\e641";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-lianjie:before {
  content: "\e646";
}

.icon-naozhong:before {
  content: "\e648";
}

.icon-saoyisao:before {
  content: "\e649";
}

.icon-shangfan:before {
  content: "\e64a";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shengyin:before {
  content: "\e64c";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-suo:before {
  content: "\e652";
}

.icon-tishi:before {
  content: "\e653";
}

.icon-wancheng:before {
  content: "\e654";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-wodefankui:before {
  content: "\e656";
}

.icon-wodehongbao:before {
  content: "\e657";
}

.icon-wodejuhuasuan:before {
  content: "\e659";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-xiafan:before {
  content: "\e65b";
}

.icon-xiala1:before {
  content: "\e65c";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-zhengque:before {
  content: "\e664";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-301:before {
  content: "\e67c";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-liwu:before {
  content: "\e685";
}

.icon-yuyin:before {
  content: "\e687";
}

.icon-xiala:before {
  content: "\e647";
}

.header {
  background-color: #F3F5F7;
  height: 169px;
}

.header .nav-header {
  width: 1200px;
  margin: 0 auto;
  height: 44px;
  border-bottom: 1px solid #CDD0D4;
  line-height: 44px;
}

.header .nav-header .nav-left-container {
  height: 100%;
}

.header .nav-header .nav-left-container ul {
  height: 100%;
}

.header .nav-header .nav-left-container .nav-left-item {
  display: inline-block;
  height: 100%;
}

.header .nav-header .nav-left-container .nav-left-login {
  margin-left: 14px;
}

.header .nav-header .nav-left-container .nav-left-signup,
.header .nav-header .nav-left-container .nav-left-mobile {
  margin-left: 10px;
}

.header .nav-header .nav-right-container {
  height: 100%;
  margin-right: 15px;
}

.header .nav-header .nav-right-container .kjx-dropdown {
  display: inline-block;
  height: 100%;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.header .nav-header .nav-right-container .kjx-dropdown:hover {
  background-color: #fff;
  border-left: 1px solid #CDD0D4;
  border-right: 1px solid #CDD0D4;
}

.header .nav-header .nav-right-container .kjx-dropdown:hover .kjx-dropdown-toggle {
  background: #fff;
}

.header .nav-header .nav-right-container .kjx-dropdown .kjx-dropdown-toggle .kjx-dropdown-arrow {
  font-size: 8px;
  margin-left: 0px;
}

.header .nav-header .nav-right-container .nav-right-category {
  margin: 0 10px;
}

.header .nav-header .nav-right-container .nav-right-item {
  display: inline-block;
}

.header .nav-header .nav-right-container .kjx-dropdown-layer {
  width: auto;
  top: 97%;
}

.header .nav-header .nav-right-container .kjx-dropdown-layer li a {
  height: auto;
  padding: 0 12px;
}
/*# sourceMappingURL=index.css.map */