@import "reset";
@import "common";
@import "base";
@import "iconfont";


.container {
    width: 1200px;
    margin: 0 auto;
}



// 防止遮挡
.header {
    width: 100%;

    .nav-header {
        .nav-right-container {
            .kjx-dropdown-toggle {
                z-index: 110;
            }

            .kjx-dropdown-layer {
                z-index: 100;
            }
        }
    }
}


.header {
    background-color: #F3F5F7;
    height: 169px;

    // nav
    .nav-header {

        height: 44px;
        border-bottom: 1px solid #CDD0D4;
        line-height: 44px;

        .nav-left-container {
            height: 100%;

            ul {
                height: 100%;
            }

            .nav-left-item {
                display: inline-block;
                height: 100%;
            }

            .nav-left-login {
                margin-left: 14px;
            }

            .nav-left-signup,
            .nav-left-mobile {
                margin-left: 10px;
            }
        }



        // 右侧导航栏
        .nav-right-container {
            height: 100%;
            margin-right: 15px;

            .kjx-dropdown {
                display: inline-block;
                height: 100%;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;

                &:hover {
                    background-color: #fff;
                    border-left: 1px solid #CDD0D4;
                    border-right: 1px solid #CDD0D4;

                    .kjx-dropdown-toggle {
                        background: #fff;
                    }
                }

                .kjx-dropdown-toggle {
                    .kjx-dropdown-arrow {
                        font-size: 8px;
                        margin-left: 0px;
                    }
                }
            }

            .nav-right-category {
                margin: 0 10px;
            }

            .nav-right-item {
                display: inline-block;
            }

            .kjx-dropdown-layer {
                width: auto;
                top: 97%;

                li {
                    a {
                        height: auto;
                        padding: 0 12px;
                    }
                }


            }


        }
    }


    .main-header {

        .logo {
            display: block;
            width: 136px;
            height: 48px;
            background-image: url("../../static/img/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 15px;
        }

        // search
        .kjx-search,
        .logo,
        .cart-container {
            margin-top: 36px;
        }

        .kjx-search {
            margin-left: 145px;
        }



        // cart
        .cart-container {
            margin-right: 15px;

            .kjx-dropdown {
                &:hover {
                    .kjx-dropdown-toggle {
                        color: #f01414;
                        background-color: #fff;
                        box-shadow: 0 0 5px #969090;

                        ~.cart-space {
                            height: 10px;
                        }
                    }

                }

                .kjx-dropdown-toggle {
                    width: 160px;
                    height: 42px;
                    background-color: #f01414;
                    color: #FFF;
                    line-height: 42px;
                    z-index: 1;

                    .icon-gouwuche {
                        margin: 0 14px;
                    }

                    .cart-text {
                        &:after {
                            content: "|";
                            margin: 0 15px;
                        }
                    }

                    .kjx-dropdown-arrow {
                        margin-right: 20px;
                    }

                }

                .cart-space {
                    width: 160px;
                    position: absolute;
                    height: 0px;
                    bottom: -2px;
                    background-color: #fff;
                    z-index: 2;
                    border: none;
                    box-shadow: none;
                }

                .kjx-dropdown-layer {
                    width: 260px;
                    box-shadow: 0 0 5px #969090;
                    background-color: #fff;
                    z-index: 1;
                    padding: 20px;
                    
                    .cart-empty{
                        text-align: center;
                        color:#98A1AB;
                        .iconfont{
                            font-size: 32px;
                            margin-right: 10px;
                        }
                        .cart-empty-text{
                            text-align: left;
                            display: inline-block;
                            line-height: 16px;
                        }
                    }
                    .cart-layer-title {
                        letter-spacing: normal;
                        font-weight: bold;
                        font-size: 16px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #DBDFE3;

                    }

                    .cart-item-container {
                        max-height: 244px;
                        overflow-y: scroll;

                        .cart-item {
                            display: block;
                            border-bottom: 1px solid #DBDFE3;
                            padding: 10px;
                            position: relative;

                            a {
                                display: block;
                            }

                            .cart-item-img {
                                width: 40px;
                                height: 40px;
                                object-fit: contain;
                                display: inline-block;
                            }

                            .cart-item-detail {
                                margin-left: 20px;

                                .cart-item-detail-name {}

                                .cart-item-detail-price {
                                    font-weight: bold;
                                    position: relative;
                                    bottom: -10px;
                                }

                            }

                            .icon-cuowu {
                                position: relative;
                                top: 0;

                                &:hover {
                                    color: #f01414;
                                }
                            }

                        }


                    }

                    .cart-result {
                        margin-top: 20px;
                        height: 40px;
                        line-height: 40px;

                        .cart-result-text {
                            font-size: 14px;

                        }

                        .cart-btn {
                            width: 80px;
                            height: 40px;
                            color: #fff;
                            background-color: #f01414;
                            outline: none;
                            border: none;
                            border-radius: 5px;

                            &:hover {
                                color: #f01414;
                                background-color: #fff;
                                border: 1px solid #CFD2D5;
                                cursor: point;
                            }
                        }
                    }

                    .kjx-dropdown-loading {
                        margin: 0 auto;
                    }
                }
            }


        }
    }
}

.nav-main {
    height: 48px;
    margin-bottom: 8px;
    background-color: #07111b;
    width: 100%;

    .link {
        color: #fff;
        line-height: 48px;
        font-size: 14px;
        margin-left: 50px;

        &:first-child {
            margin-left: 232px;
        }

        &:hover {
            color: #f01414;
        }
    }
}


.focus {
    width: 100%;
    height: 504px;
    margin-bottom: 8px;

    .category {
        width: 208px;
        margin-top: -62px;
        font-size: 14px;
        position:relative;
        .category-title {
            display: block;
            height: 54px;
            line-height: 54px;
            padding: 0 20px;
            background-color: #c81114;
            color: #fff;

            .iconfont {
                margin-right: 10px;
                font-size: 16px;

            }
        }

        .category-list {
            height: 512px;
            background-color: #f01414;

            .kjx-dropdown{
                position:static;
                .kjx-dropdown-toggle {
                    display: block;
                    height: 36px;
                    line-height: 36px;
                    margin-left: 16px;
                    color: #fff;
    
                    .kjx-dropdown-link {
                        color: #fff;
                    }
    
                    .kjx-dropdown-arrow {
                        position: absolute;
                        right: 12px;
                        font-weight: bold;
                        font-family: simsun;
                    }
                }
    
                .kjx-dropdown-layer{
                    display: block;
                    top: 54px;
                    left: 100%;
                    width: 744px;
                    min-height: 473px;
                    padding:8px 0 31px 0;
                    background-color: #fff;
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
                    .kjx-dropdown-loading{
                        margin:0 auto;
                        margin-top: 220px;
                    }
                    .category-details{
                        margin-top: 24px;
                        line-height: 20px;
                        .category-details-title{
                            width:84px;
                            padding-right: 16px;
                            border-right: 1px solid #d9dde1;
                            text-align: right;
                            .category-details-title-link{
                                color:#07111b;
                                font-weight: bold;    
                            }
                        }
                        .category-details-item{
                            padding-left: 15px;
                            width:592px;
                            .link{
                                display: inline-block;
                                margin-right: 16px;
                            }
                        }
                    }
                }
            }
        }

        .category-list {
            .category-active {
                &.kjx-dropdown {
                    background-color: #fff;

                    .kjx-dropdown-toggle,
                    .kjx-dropdown-link {
                        color: #f01414;
                    }

                    .kjx-dropdown-arrow {
                        transform: rotate(0deg);

                    }

                }


            }
        }
    }


    .focus-sidebar{
        width:249px;
        .focus-news{
            padding:7px 20px 12px;
            background-color: #fff;
            border: 1px solid #d9dde1;
            border-bottom: none;

            .focus-news-head{
                height:38px;
                line-height: 38px;
                .focus-news-title{
                    color:#f01414;
                    font-size: 16px;
                }
            }
            .focus-news-body{
                line-height: 28px;
            }
        }

        .focus-service{
            background-color: #fff;
            border-left: 1px solid #d9dde1;
            .focus-service-item{
                width:61px;
                height:71px;
                border-top: 1px solid #d9dde1;
                border-right: 1px solid #d9dde1;
                .focus-service-icon,
                .focus-service-text{
                    display: inline-block;
                    width:100%;
                    text-align: center;

                }

                .focus-service-icon{
                    margin-top: 17px;
                    color:#f67272;
                    font-size: 22px;
                }

                .focus-service-text{
                    margin-top: 6px;
                    color:#4d555d;
                }
            }
        }

        .focus-ad{
            width:100%;
            height:90px;
            background-image: url("../../static/img/focus-ad.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}