<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./slider.css">

</head>

<body>
    <div class="kjx-slider">
        <div class="kjx-slider-container">
            <div class="kjx-slider-item">
                <a href="###">
                    <img src="./img/1.png" alt="">
                </a>
            </div>
            <div class="kjx-slider-item">
                <a href="###">
                    <img src="./img/1.png" alt="">
                </a>
            </div>
            <div class="kjx-slider-item">
                <a href="###">
                    <img src="./img/1.png" alt="">
                </a>
            </div>
            <div class="kjx-slider-item">
                <a href="###">
                    <img src="./img/1.png" alt="">
                </a>
            </div>
        </div>
        <ol class="kjx-slider-indicator-wrap">
            <li class="kjx-slider-indicator kjx-slider-indicator-active fl text-hidden">1</li>
            <li class="kjx-slider-indicator fl text-hidden">2</li>
            <li class="kjx-slider-indicator fl text-hidden">3</li>
            <li class="kjx-slider-indicator fl text-hidden">4</li>
        </ol>
        <a href="javascript:;" class="kjx-slider-control kjx-slider-control-left">&lt;</a>
        <a href="javascript:;" class="kjx-slider-control kjx-slider-control-right">&gt;</a>

    </div>
</body>
<script>
    function Slider({el,toggleAnimateMode}){

    }
</script>

</html>